<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Turnos</a>
  </nav>
  <p></p>

  <div class="col-md-12">

  </div>
  <div class="container">
    
    <div>
        <div class="">
            <div class="form-group col-md-4" >
                <label >Fecha Inicio :</label>
                <input type="date" name="bday" max="3000-12-31" [(ngModel)]="fechaini" min="1000-01-01" class="form-control">
               </div>
               <div class="form-group col-md-4">
                <label >Fecha Fin :</label>
                <input type="date" name="bday" min="1000-01-01" [(ngModel)]="fechaFin" max="3000-12-31" class="form-control">
               </div>
         </div> 
         <div class="form-group col-md-4">
            <label >Servicio :</label>
            <select class="form-control" [(ngModel)]="servicio">
                <option value="" selected>Seleccionar</option>
                <option ng-repeat=""></option>
              </select>
         </div>
         <div  class="form-group">
            <button type="button" class="btn btn-warning" (click)="generar()">Generar Turno <!--<i class="fas fa-plus"></i>--></button>
         </div>
    </div>
    <p></p>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">N</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora Inicial</th>
            <th scope="col">Hora Fin</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ListaTurnos ; let i = index">
            <td>{{i}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.horaInicio}}</td>
            <td>{{item.horaFin}}</td>
            <td>{{item.estado}}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="" >editar
                <!--<i class=""></i>-->
            </button>
          </td>
        </tr>
        </tbody>
      </table>
</div>
